# Conda environment files/directories
.conda/

# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment / secrets
.env
*.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# SQLite temporary files
*.sqlite-journal
*.db-journal

# MLflow local tracking
mlruns/

# IDE/editor files
.vscode/
.idea/

# Temporary files
*.tmp
*.bak
